*{
    box-sizing: border-box;
}
@font-face {
    font-family: "kablammo";
    src: url("kablammo-regular-variablefont_morf-webfont.woff") format("woff");
}
@font-face {
    font-family: 'Anton', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
}
.home-page{
    background-image: url(stars-bk.png);
    background-repeat: repeat;
}
/*.navigation{
    
}*/
/*.nav-item a:visited{
    display: block;
    color:mediumslateblue
}*/
.top-container{
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse
}

.middle-container{
    display: flex;
    flex-direction: row-reverse;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color:#FF66C4;
}
nav li a{
    display: block;
    height: 50px;
    padding: 8px 16px;
    font-size: large;
    font-family: 'kablammo', sans-serif;
    text-decoration: none;
    
}

nav li a:hover {
    background-color: #493851;
    color: white;
  }

.title{
    font-size: xx-large;
    font-family: 'kablammo', sans-serif;
    color:rgb(78, 11, 123);
    text-shadow: -.50px -.50px 0 rgb(255, 255, 255), .50px -.50px 0 rgb(255, 255, 255), -.50px .50px 0 rgb(255, 255, 255), .50px .50px 0 rgb(255, 255, 255);
    background-image: url(squiggle-bk.png);
    background-repeat: repeat;
    width: 100%;
    padding-left: 12px;
}


.intro{
    color: rgb(78, 11, 123);
    padding: 2%;
    max-width: 25%;
    background: rgb(229,207,244);
    background: linear-gradient(103deg, rgb(198, 234, 253) 0%, rgba(255,253,242,0.03982843137254899) 60%);
}

.welcome{
    font-family: 'kablammo', sans-serif;
}
.blog-post{
    max-width: 100%;
    margin: 0;
    margin-bottom: 4%;
    padding: 3%;
    background-image: url(squiggle-2-bk.png);
    background-repeat: repeat;
    border: 3px aquamarine solid;
    border-style: ridge;
}

.blog-title{
    font-size: 40px;
    font-family: 'kablammo', sans-serif;
    text-decoration: underline;
}

.blog-art-title{
    font-family: 'kablammo', sans-serif;
}

.blog-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    height: auto;
}

.profile{
    display: flex;
    justify-content: flex-start;
    background-image: url(stars-2-bk.png);
    background-repeat: repeat;
}

.profile-content{
    display: block;
    margin-top: 10%;

}

.profile-image{
    display: flex;
    justify-content: flex-start;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 15px;
    margin-bottom: 5%;
    max-width: 50%;
    height: auto;
}

.profile-title{
    font-size: xx-large;
    font-family: 'kablammo', sans-serif;
    color:antiquewhite;
    text-shadow: -.25px -.25px 0 rgb(0, 0, 0), .25px -.25px 0 rgb(0, 0, 0), -.25px .25px 0 rgb(0, 0, 0), .25px .25px 0 rgb(0, 0, 0);
    padding: 1px;
    display: block;
    text-align: center;
    background-image: url(dot-2-bk.png);
    background-repeat: repeat;
}


